<div class="army-base">
  <img class="army-jim" src="/assets/army-jim.png" [ngStyle]="{'right': jimRight + 'px'}">

  <button class="calendar">
    <div class="centered" (click)="countdown()">{{countdownCounter}}</div>
    <img src="/assets/calendar.png">
  </button>

  <button class="outlook" (click)="sign()">
    <div class="centered title">אל: גל</div>
    <div class="centered content">קבע?</div>
    <img src="/assets/outlook.jpg">
  </button>
</div>
<!--<app-popup *ngIf="signPopup" [textContent]="signText" (okEvent)="levelService.nextLevel(1)" [noButton]="true"></app-popup>-->

