<div class="seaView container-fluid">
  <h1>אתה עכשיו בשלב: {{level.id}}</h1>

  <app-level1 *ngIf="level.id == 1" (nextEvent)="next($event)"></app-level1>
  <app-level2 *ngIf="level.id == 2" (nextEvent)="next($event)"></app-level2>
  <app-level3 *ngIf="level.id == 3" (nextEvent)="next($event)"></app-level3>
  <app-level4 *ngIf="level.id == 4" (nextEvent)="next($event)"></app-level4>
  <app-level5 *ngIf="level.id == 5" (nextEvent)="next($event)"></app-level5>
  <app-level6 *ngIf="level.id == 6" (nextEvent)="next($event)"></app-level6>
</div>
