<div class="d-flex flex-row justify-content-center" style="padding-bottom: 40px">
  <h1>אוקי אח שלי, הגיע זמן לבחור קריירה:</h1>
</div>

<div class="d-flex flex-row justify-content-center">
  <button type="button" class="btn btn-info" (click)="next(0)">ברמן</button>
</div>

<div class="d-flex flex-row justify-content-center">
  <button type="button" class="btn btn-info" (click)="next(1)">מאלף כרישים</button>
</div>

<div class="d-flex flex-row justify-content-center">
  <button type="button" class="btn btn-info" (click)="next(2)">רואה חשבון</button>
</div>
