<div class="island-View">
  <div class="row" style="height: 10vh;">
    <div class="col"></div>
  </div>

  <div class=" justify-content-center">
    <div class="d-flex flex-row justify-content-center">
      <h2>מזל טוב!</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <h2>אתה משתחרר בקרוב!</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <h2>ואתה תבחר איך לנהל את החיים!</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <h2>ממש עוד רגע!</h2>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <button mat-raised-button color="primary" type="button" class="btn btn-default" aria-label="Left Align"
              data-toggle="collapse" href="#title1" aria-expanded="false" aria-controls="title1"
              *ngIf="titleNum == 0" (click)="titlePlus()">>>>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </button>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <h2 *ngIf="titleNum >= 1">עוד שנייה משתחרר!</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button mat-raised-button color="primary" type="button" class="btn btn-default" aria-label="Left Align"
              (click)="titlePlus()" *ngIf="titleNum == 1">>>>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </button>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <h2 *ngIf="titleNum >= 2">...</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button mat-raised-button color="primary" type="button" class="btn btn-default" aria-label="Left Align"
              (click)="titlePlus()" *ngIf="titleNum == 2">>>>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </button>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <h2 *ngIf="titleNum >= 3" class="highlight">נו מה?</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button mat-raised-button color="primary" type="button" class="btn btn-default" aria-label="Left Align"
              (click)="titlePlus()" *ngIf="titleNum == 3">>>>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </button>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <h2 *ngIf="titleNum >= 4" class="highlight">טוב יאללה, מוכן לבחירה הראשונה?</h2>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <button *ngIf="titleNum == 4" type="button" class="btn btn-info" (click)="start()" routerLink="/level">בסדר, אני יודע...</button>
    </div>

  </div>
</div>
