<div class="israel-trail">
  <div class="night">
    <div *ngFor="let _ of [].constructor(10)" class="shooting_star"></div>

    <div *ngFor="let _ of [].constructor(100)" class="star"></div>
  </div>

  <div class="moon"></div>

</div>



<div class="dino">
  <div class="parkur">


    <div class="tree">
      <img src="assets/tree.png">
    </div>

    <div class="tent">
      <img src="assets/tent.png">
    </div>

    <div class="ground"></div>


    <div class="tekrar">
      <div class="oyun-bitti">
        <img src="https://i.hizliresim.com/r2YnoM.png">
      </div>
      <div class="tikla">
        <img src="https://i.hizliresim.com/7N250Y.png">
      </div>
    </div>
    <div class="trail">
      <div class="trail1" [ngStyle]="{'animation-duration': trailSpeed + 's'}"></div>
      <div class="trail2" [ngStyle]="{'animation-duration': trailSpeed + 's'}"></div>
      <div class="trail3" [ngStyle]="{'animation-duration': trailSpeed + 's'}"></div>
    </div>

    <div class="rockCactus" ></div>
    <div class="dinoJim1">

    </div>
  </div>
</div>
